@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
}
.img{
    /* border: 2px solid; */
    object-fit: cover;
    mix-blend-mode: multiply;
}