@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.customeContainer {
  max-width: 1400px;
  width: 90%;
  margin: auto;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
}

.lgHeading {
  @apply text-3xl text-center font-extrabold text-slate-700;
}

.paraStyle {
  @apply sm:p-4 p-2 text-slate-600 leading-6;
}

.mdHead {
  @apply text-2xl font-bold text-slate-700;
}

.smStyle {
  @apply text-sm text-center font-medium text-slate-700;
}

.darkColor {
  color: #2da8be;
}

.smallImg {
  @apply w-15 sm:w-25 block m-auto;
}

.inputFields {
  @apply w-full border-b-2 p-2 m-2 text-slate-600 placeholder-transparent focus:outline-none;
}

/* This is used for form input eg:listing, contact Us etc */
.inputFieldInfo {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md text-slate-600;
}

.labelStyleCont {
  @apply block text-left px-2 text-sm font-medium text-slate-600 mb-1;
}

.buttonStyle {
  @apply bg-slate-700 py-2 px-6  text-white rounded-xl cursor-pointer shadow hover:scale-105 transition-all duration-300;
}

.cancelButtonStyle {
  @apply bg-red-700 py-2 px-6 text-white rounded-xl cursor-pointer transition shadow;
}
.cancelButtonStyle:hover {
  @apply bg-red-800;
}
.buttonStyle:hover {
  @apply bg-slate-800;
}

.buttonStyle2 {
  @apply border cursor-pointer p-3 font-semibold block m-auto mb-4;
}

.buttonStyle3 {
  @apply p-2 rounded-xl border m-4 cursor-pointer hover:shadow-md;
}

.flexStyleBet {
  @apply flex justify-between items-center;
}

.floatingLabel {
  @apply absolute left-2 top-2 text-slate-500 text-sm transition-all duration-200
                 peer-placeholder-shown:top-2 peer-placeholder-shown:text-base
                 peer-placeholder-shown:text-slate-400 peer-focus:top-[-0.5rem]
                 peer-focus:text-sm peer-focus:text-slate-700 peer-focus:font-bold bg-white px-1;
}

.scheduleTourLabel {
  @apply flex items-center gap-2 text-sm font-medium text-gray-700;
}

.scheduleTourInput {
  @apply w-full px-4 py-3 border border-gray-300 rounded-xl focus:ring-2 focus:ring-blue-500 focus:border-transparent transition-all duration-200;
}

.addPropertyStyle {
  @apply w-full px-4 py-3 border border-slate-300 rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-colors
}

@media screen {
  
}